<!-- <p>forgot-password works!</p> -->
<!-- <div
  class="min-h-screen bg-gray-800 py-6 flex flex-col justify-center sm:py-12"
>
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
      class="absolute inset-0 bg-gradient-to-r from-indigo-700 to-purple-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
    ></div>
    <div
      class="text-white relative px-4 py-10 bg-indigo-400 shadow-lg sm:rounded-3xl sm:p-20"
    >
      <div class="text-center pb-6">
        <h1 class="text-3xl">Forgot Password</h1>

        <p class="text-gray-300">
          Fill up the form below to send us a link in message for forgot
          password.
        </p>
      </div>

      <form [formGroup]="forgotPsw">
        <label for="" class="text-sm text-primary px-1">Email</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="email"
          placeholder="Email"
          formControlName="email"
        />
        @if(submitted && getControl['email'].errors){
        <div class="invalid-feedback">
          @if (getControl['email'].errors['required']) {
          <div class="text-red-600">Email is reuired</div>
          }
        </div>
        }

        <div class="flex justify-center">
          <button
            class="mt-2 shadow bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
            (click)="sendForgotEmail()"
          >
            Send ➤
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<div class="font-sans">
  <div
    class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100"
    style="background-color: #111827"
  >
    <div class="relative sm:max-w-sm w-full">
      <div
        class="card bg-blue-400 shadow-lg w-full h-full rounded-3xl absolute transform -rotate-6"
      ></div>
      <div
        class="card bg-red-400 shadow-lg w-full h-full rounded-3xl absolute transform rotate-6"
      ></div>
      <div class="relative w-full rounded-3xl px-6 py-4 bg-gray-100 shadow-md">
        <label
          for=""
          class="block mt-3 text-sm text-gray-700 text-center font-semibold"
        >
          Forgot Password
        </label>
        <form [formGroup]="forgotPsw" class="mt-10">
          <div>
            <label for="" class="text-xs text-primary px-1">Email</label>
            <input
              type="email"
              formControlName="email"
              placeholder="Enter your email"
              class="p-2 mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0"
            />
            @if(submitted && getControl['email'].errors){
            <div class="invalid-feedback">
              @if (getControl['email'].errors['required']) {
              <div class="text-red-600">Email is reuired</div>
              }
            </div>
            }
          </div>
          <div class="mt-2 flex text-center">
            <div class="w-full">
              <a
                class="text-sm text-blue-600 hover:text-gray-900 mr-3"
                routerLink="/login"
              >
                Login
              </a>
            </div>
          </div>
          <div class="mt-7">
            <button
              class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105"
              (click)="sendForgotEmail()"
            >
              Send ➤
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
